<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-tic"
        version="1.0.1">

    <name>cordova-plugin-tic</name>
    <description>Cordova/Phonegap plugin to play tic</description>
    <author>Menghao</author>

	<js-module src="www/tic.js" name="tic">
        <clobbers target="Tic" />
    </js-module>
    
 
    <platform name="ios">
        <hook type="before_plugin_install" src="hooks/before_plugin_install.js" />
        <hook type="before_plugin_uninstall" src="hooks/before_plugin_uninstall.js" />

        <config-file target="config.xml" parent="/*">
            <feature name="Tic">
                <param name="ios-package" value="Tic"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file target="*-Info.plist" parent="NSMicrophoneUsageDescription">
            <string>获取麦克风权限</string>
        </config-file>

        <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
            <string>获取相机权限</string>
        </config-file>

        <framework src="TICSDK" type="podspec" spec="~> 1.7.2" />

        <header-file src="src/ios/Tic.h" />
        <source-file src="src/ios/Tic.m" />

        <header-file src="src/ios/ClassroomViewController.h" />
        <source-file src="src/ios/ClassroomViewController.m" />

        <source-file src="src/ios/ClassroomViewController.xib" target-dir=""/>


        <xcassets>
            <source-file src="src/ios/Images.xcassets/HandButton.imageset" />
            <source-file src="src/ios/Images.xcassets/CloseButton.imageset/back.png" />
            <source-file src="src/ios/Images.xcassets/LeftButton.imageset/left.png" />
            <source-file src="src/ios/Images.xcassets/RightButton.imageset/right.png" />
        </xcassets>        
    </platform>

   
    <platform name="android">
    
		<engines>
			<engine name="cordova" version=">=6.2.0" />
			<engine name="cordova-android" version=">=6.0.0" />
		</engines>

        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.CAMERA"/>
            <uses-permission android:name="android.permission.RECORD_AUDIO"/>
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
        </config-file>

        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="Tic">
                <param name="android-package" value="com.tencent.ticsdk.cordova.Tic"/>
                 <param name="onload" value="true" />
            </feature>
        </config-file>

		<source-file src="src/android/com/tencent/ticsdk/cordova/Tic.java" target-dir="src/com/tencent/ticsdk/cordova" />
        <source-file src="src/android/com/tencent/ticsdk/observer/ClassEventObservable.java" target-dir="src/com/tencent/ticsdk/observer" />
        <source-file src="src/android/com/tencent/ticsdk/observer/ClassroomIMObservable.java" target-dir="src/com/tencent/ticsdk/observer" />
        <source-file src="src/android/com/tencent/ticsdk/observer/UserStatusObservable.java" target-dir="src/com/tencent/ticsdk/observer" />
        <resource-file src="src/android/res/layout/tic_main.xml" target="res/layout/tic_main.xml" />
        <resource-file src="src/android/res/drawable-hdpi/hand.png" target="res/drawable-hdpi/hand.png" />
        <resource-file src="src/android/res/drawable-hdpi/back.png" target="res/drawable-hdpi/back.png" />
        <resource-file src="src/android/res/drawable-hdpi/left.png" target="res/drawable-hdpi/left.png" />
        <resource-file src="src/android/res/drawable-hdpi/right.png" target="res/drawable-hdpi/right.png" />
        <resource-file src="src/android/res/drawable-hdpi/layout_bg.xml" target="res/drawable-hdpi/layout_bg.xml" />
        <framework src="repositories.gradle" custom="true" type="gradleReference" />

    </platform>

</plugin>